{% extends 'mango/base.html' %}
{% block content %}

    <div class="row">
        {% if profiles %}
           {% for prof in profiles  %}
              <div class="col-sm-3">
                  <div class="card card-body my-1" style="background-color: {% if prof.is_male %}orange; {% else %}pink; {% endif %}">
                      <h4 class="text-center"
                      style="white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;max-width:90%; font-family:Gugi;border-bottom: 1px solid black; ">{{prof.name}}</h4>

                      <hr>
                      <img src="{{prof.photo.url}}" class="rounded-circle mx-auto img-fluid" alt="" style="height:150px; width:150px;">
                      <div class="caption">
                          <h5 class="text-center">{{prof.occupation}}</h5>
                          <h6 class="text-center"
                           style="white-space: nowrap;
                           overflow: hidden;
                           text-overflow: ellipsis;max-width:90%; font-family:Gugi; " >{{prof.slogan}}</h6>
                          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-{{prof.id}}">
                              <i class="fas fa-info"></i>
                          </button>
                          <a href="{% url 'mango:Delete-member' prof.id%}" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-trash"></i></a>
                      </div>
                  </div>
                  <!--modal-->
                  <div class="modal fade modal-md" id="modal-{{prof.id}}" role="dialog">
                      <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title">{{prof.name}}</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                                  <p style="font-family:Sofia;">
                                     {{prof.name}} is a {{prof.nationality}} and an {{prof.occupation}} expert. He/She is a {{prof.course}} student at {{prof.campus}} and also loves loves {{prof.hobby}}.He/She is {{prof.age}} years old
                                     Lives at {{prof.residence}} and you can reach her via <a href="mailto:{{prof.email}}." >{{prof.email}}</a>
                                  </p>
                              </div>
                              <div class="modal-footer">
                                  <a href="{% url 'mango:update-member' prof.id %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i></a>
                              </div>
                            </div>
                      </div>
                  </div>
              </div>
           {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}